*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
}
.form
{
    display: flex;
}
header
{
    background-color:rgb(168, 118, 19, 0.909);
    width: 100%;
    height: 80px;
    display: flex;
    border-radius: 10px;
}
header .logo 
{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 120px;
    font-weight: bold;
}
.logo a
{
    color: white;
}
nav
{
    margin-left: 700px;
    margin-top: 25px;
}
nav ul
{
    display: flex;
}
nav li a
{
    color: white;
    margin: 20px;
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    text-shadow: 1.5px 1.5px 0px gray ;
}
.title
{
    background-color:  rgb(196, 161, 90);
    width: 500px;
    height: 100vh;
    border-radius: 50px;
    margin-top: 20px;
}
.title h1
{
    margin-top: 220px;
    margin-left: 70px;
    color: white;
    font-size: 50px;
    text-transform: capitalize;
}
.title pre
{
    color: white;
    font-size:20px;
    margin-left: 80px;
    margin-top: 20px;
}
form h1
{
    color: rgb(196, 161, 90);
    text-transform: capitalize;
    font-size: 70px;
    margin-left: 220px;
    margin-top: 50px;
}
form .in
{
    width: 400px;
    height: 40px;
    margin: 10px;
    border: none;
    background-color: rgb(226, 224, 224);
    font-size: 20px;
    margin-left: 300px;
}
.info
{
    margin-top: 100px;
}
.in::placeholder
{
    padding-left: 10px;
}
.name
{
    position: relative;
}
.name i
{
    position: absolute;
    left: 660px;
    top: 18px;
    font-size: 25px;
    color: rgb(151, 150, 150);
}
.email
{
    position: relative;
}
.email i
{
    position: absolute;
    left: 660px;
    top: 18px;
    font-size: 25px;
    color: rgb(151, 150, 150);
}
.pass
{
    position: relative;
}
.pass i
{
    position: absolute;
    left: 660px;
    top: 18px;
    font-size: 25px;
    color: rgb(151, 150, 150);
}
.gender
{
    margin-left:310px ;
    margin-top: 20px;
    font-size: 30px;
}
.gender input
{
    width: 15px;
    height: 15px;
}
.gender dd,dt
{
    text-transform: capitalize;
    color: rgb(113, 113, 113);
}
.gender dd
{
    margin-left: 50px;
}
.buttons
{
    display: flex;
    margin-top: 50px;
}
.sign
{
    margin-left: 50px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    text-transform: capitalize;
    border-radius: 10px;
    background-color:  rgb(196, 161, 90);
    color: white;
    border: none;
}
.sign:hover
{
    background-color: rgb(168, 118, 19, 0.909);
    transform: scale(.9,.9);
    cursor: pointer;
}
.reset
{
    margin-left: 330px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    text-transform: capitalize;
    border-radius: 10px;
    background-color:  rgb(196, 161, 90);
    color: white;
    border: none;
}
.reset:hover
{
    background-color:  rgb(168, 118, 19, 0.909);
    transform: scale(.9,.9);
    cursor: pointer;
}
.log
{
    display: flex;
    margin-top: 250px;
    margin-left: 130px;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    border: solid white 3px;
    background-color:  rgb(196, 161, 90);
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 50px;
}

.arrow
{
    visibility: hidden;
    margin-right: 20px;
}  
.log:hover
{
    background-color: rgb(168, 118, 19, 0.909);
    cursor: pointer;
}
.log:hover .arrow
{
    visibility:visible;
}



